@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    width: 100%;
    min-height: 100vh;
}

header {
    background-color: rgb(54, 54, 54);
    padding: 15px;
}

.head-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;       
}


.logo {
    width: 120px;
    cursor: pointer;
}


.header-right {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;  
}


.lang-list {
    margin: 0 15px;
    padding: 0;
}

.lang-list li {
    display: inline;
}

.lang-link {
    color: #b1b1b1;
    text-decoration: none;
    padding: 3px;
    font-size: 1.15rem;
    transition: 0.2s;
}

.lang-link:hover,
.lang-link:active,
.lang-link:focus {
    color: red;
}

.main-selector {
    margin: 40px 0 0 0; 
}

.main-selector li {
    display: inline;
}

.main-link {
    color: #b1b1b1;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    transition: 0.2s;
    padding: 0 15px;
}

.main-link:hover {
    border-bottom: 2px solid red;
}

.brands-container {
    display: flex;
    flex-direction: column;
}

.brands-title {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 50px;
    border-bottom: 4px solid red;
    margin: 60px auto 25px 355px;
}

.brands-imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.brandimg {
    margin: 25px;
    transition: 0.2s;
}

.brandimg:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px black ;
    cursor: pointer;
}

.ueber-meinl-container {
    margin: 50px auto;
}
.companysite {
    position: relative;
    display: block;
}
.companysite-img {
    width: 100%;
}

.ueber-meinl-btn {
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    background-color: red;
    color: whitesmoke;

    border: none;

    position: absolute;
    top: 75%;
    right: 46%;

    transition: 0.2s;
}

.ueber-meinl-btn:hover {
    background-color: rgba(255, 0, 0, 0.66);
    transform: scale(1.05);
}

.news-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.news-header {
    font-size: 3.5rem;
    margin: 0;
    background-color: red;
    color: white;
}

.news-desc {
    font-size: 1.5rem;
}

.newstitle,
.newsdescription {
    padding: 15px;
}

.newstitle {
    font-size: 1.3rem;
    margin: 0;
}

.newsdescription {
    margin: 0;
    font-size: 1.2rem;
}

.news-display {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.news-one {
    width: 500px;
    background-color: rgb(54, 54, 54);
    color: whitesmoke;
    padding-bottom: 20px;
}

.news-one img {
    width: 100%;
}

.news-btn {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    background-color: red;
    color: whitesmoke;
    transition: 0.2s;

    border: none;
}

.news-btn:hover {
    background-color: rgba(255, 0, 0, 0.66);
    transform: scale(1.05);
}

.news-two img {
    width: 100%;
}

.news-two {
    width: 500px;
    background-color: rgb(54, 54, 54);
    color: whitesmoke;
    padding-bottom: 25px;
}



.Willkommenskarte {
    display: none;
    height: 220px;
    width: 450px;

    padding: 20px;

    background-color: white;
    border: 1px solid black ;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;

    margin: auto;

    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.Willkommenskarte h3 {
    font-size: 1.25rem;
}

.gitlink {
    display: inline-block;
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    transition: 0.2s;
    padding: 5px 10px;
}

.gitlink:hover {
    background-color: rgba(255, 0, 0, 0.66);
    transform: scale(1.05);

}

.closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;

    background-color: red;
    border: none;
    color: white;
    font-size: 1.2rem;

    padding: 5px 10px;
}

.closeBtn:hover {
    background-color: rgba(255, 0, 0, 0.66);
    transform: scale(1.05);
}

footer {
    background-color: rgb(54, 54, 54);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h3 {
    color: whitesmoke;
    font-weight: 500;
}

footer p {
    color: whitesmoke;
    font-weight: 400px;
}

.scroll-btn { 
    background-color: red;
    box-shadow: 0px 0px 5px black;
    display: block;
    padding: 15px;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 8;
    opacity: 0;

    transition: 0.25s;
}

.scroll-btn:hover {
    background-color: rgba(255, 0, 0, 0.66);
    transform: scale(1.05);
}

@media (max-width: 1200px) {

    .head-container {
        justify-content: space-between;
        padding: 0 20px;
    }

    .logo {
        width: 100px;
    }

    .lang-link {
        font-size: 1.05rem;
    }

    .main-link {
        font-size: 1.1rem;
        padding: 0 10px;
    }

    .brands-title {
        font-size: 2.8rem;
        margin: 50px auto 25px 120px;
        line-height: 1.2;
    }

    .brands-imgs {
        gap: 20px;
    }

    .brandimg {
        margin: 15px;
        width: 440px;
    }

    .ueber-meinl-btn {
        font-size: 1.15rem;
        top: 70%;
        right: 42%;
    }

    .news-container {
        margin: 40px 20px;
    }

    .news-header {
        font-size: 2.8rem;
    }

    .news-display {
        gap: 30px;
    }

    .news-one,
    .news-two {
        width: 420px;
    }

    .Willkommenskarte {
        width: 400px;
        height: auto;
    }
}

@media (max-width: 768px) {

    body {
        font-size: 15px;
    }

    .head-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .header-right {
        align-items: center;
    }

    .main-selector {
        margin: 15px 0 0 0;
        padding: 0;
        text-align: center;
    }

    .main-selector li {
        display: block;
        margin: 8px 0;
    }

    .main-link {
        font-size: 1.1rem;
        padding: 5px 0;
    }


    .brands-title {
        font-size: 2.2rem;
        margin: 40px auto 20px auto;
        text-align: center;
        line-height: 1.2;
    }

    .brands-imgs {
        flex-direction: column;
        align-items: center;
    }

    .brandimg {
        width: 80%;
        max-width: 280px;
        margin: 15px 0;
    }

    .ueber-meinl-btn {
        position: static;
        display: inline-block;
        margin: 15px auto 0 auto;
        text-align: center;
    }

    .companysite {
        text-align: center;
    }

    .news-container {
        margin: 30px 15px;
    }

    .news-header {
        font-size: 2.2rem;
        padding: 10px;
    }

    .news-desc {
        font-size: 1.2rem;
    }

    .news-display {
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    .news-one,
    .news-two {
        width: 100%;
        max-width: 420px;
    }

    .Willkommenskarte {
        width: 90%;
        height: auto;
    }

    .Willkommenskarte .btn {
        display: block;
        width: 100%;
        margin: 10px 0;
        font-size: 1.1rem;
    }

   
    footer h3 {
        font-size: 1rem;
        text-align: center;
    }
}

