@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    width: 100%;
    min-height: 100vh;
}

header {
    background-color: rgb(54, 54, 54);
    padding: 15px;
}

.head-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;       
}


.logo {
    width: 120px;
    cursor: pointer;
}


.header-right {
    display: flex;
    flex-direction: column; 
    align-items: flex-end;  
}


.lang-list {
    margin: 0 15px;
    padding: 0;
}

.lang-list li {
    display: inline;
}

.lang-link {
    color: #b1b1b1;
    text-decoration: none;
    padding: 3px;
    font-size: 1.15rem;
    transition: 0.2s;
}

.lang-link:hover,
.lang-link:active {
    color: red;
}


.main-selector {
    margin: 40px 0 0 0; 
}

.main-selector li {
    display: inline;
}

.main-link {
    color: #b1b1b1;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    transition: 0.2s;
    padding: 0 15px;
}

.main-link:hover {
    border-bottom: 2px solid red;
}

.brands-container {
    display: flex;
    flex-direction: column;
}

.brands-title {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 50px;
    border-bottom: 4px solid red;
    margin: 60px auto 25px 355px;
}

.brands-imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.brandimg {
    margin: 25px;
    transition: 0.2s;
}

.brandimg:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px black ;
    cursor: pointer;
}

.ueber-meinl-container {
    margin: 50px auto;
}
.companysite {
    position: relative;
    display: block;
}
.companysite-img {
    width: 100%;
}

.ueber-meinl-btn {
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    background-color: red;
    color: whitesmoke;

    border: none;

    position: absolute;
    top: 75%;
    right: 46%;

    transition: 0.2s;
}

.ueber-meinl-btn:hover {
    background-color: rgba(255, 0, 0, 0.66);
    transform: scale(1.05);
}

.news-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.news-header {
    font-size: 3.5rem;
    margin: 0;
    background-color: red;
    color: white;
}

.news-desc {
    font-size: 1.5rem;
}

.newstitle,
.newsdescription {
    padding: 15px;
}

.newstitle {
    font-size: 1.3rem;
    margin: 0;
}

.newsdescription {
    margin: 0;
    font-size: 1.2rem;
}

.news-display {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.news-one {
    width: 500px;
    background-color: rgb(54, 54, 54);
    color: whitesmoke;
    padding-bottom: 20px;
}

.news-one img {
    width: 100%;
}

.news-btn {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    background-color: red;
    color: whitesmoke;
    transition: 0.2s;

    border: none;
}

.news-btn:hover {
    background-color: rgba(255, 0, 0, 0.66);
    transform: scale(1.05);
}

.news-two img {
    width: 100%;
}

.news-two {
    width: 500px;
    background-color: rgb(54, 54, 54);
    color: whitesmoke;
    padding-bottom: 25px;
}



.Willkommenskarte {
    display: none;
    height: 220px;
    width: 450px;

    padding: 20px;

    background-color: white;
    border: 1px solid black ;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;

    margin: auto;

    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.Willkommenskarte h3 {
    font-size: 1.25rem;
}

.btn {
    background-color: red;
    padding: 15px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 0, 0, 0.66);
    transform: scale(1.05);
}

.Willkommenskarte .btn {
    font-size: 1.2rem;
}

footer {
    background-color: rgb(54, 54, 54);
    padding: 15px;
    display: flex;
    justify-content: center;
}

footer h3 {
    color: whitesmoke;
    font-weight: 500;
}
